<div style="margin-top: -105px">
    <div class="row justify-content-sm-center text-center contenedor-habilidades">
        <div class="col col-sm-3 bg-white habilidades-back">
            <i class="bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p>
                Me encargo de procesar y almacenar datos, autenticar usuarios, implementar la lógica de negocios
                y brindar servicios a través de API, gestionar solicitudes HTTP y comunicarme con otros sistemas.
            </p>
            <p class="cabecera">
                Stack:
            </p>
            <p>ASP.NET Core, SQL Server</p>
            <p class="cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
                <li>Principios SOLID</li>
            </ul>
        </div>


        <div class="col col-sm-3 bg-white habilidades-front">
            <i class="bi-code-slash"></i>
            <h3>Front-end</h3>
            <p>
                Me encargo de crear la interfaz visual y la experiencia de usuario, gestionar datos, manejar eventos y acciones del usuario, y comunicarme con el
                back-end para obtener y enviar datos
            </p>
            <p class="cabecera">
                Stack:
            </p>
            <p>Angular, Ionic, Blazor</p>
            <p class="cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Bootstrap</li>
                <li>Angular Material</li>
                <li>Sass</li>
                <li>Blazor WASM</li>
                <li>jQuery</li>
            </ul>
        </div>
    </div>
</div>