@model IEnumerable<Proyecto>

@if (Model is not null)
{
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var proyecto in Model)
            {
                <div class="col">
                    <div class="card h-100 card-custom" style="border-radius: 15px !important;">
                        <img 
                            src="@proyecto.ImagenUrl" 
                            class="card-img-top card-img-custom" 
                            alt="imagen proyecto" />
                        <div class="card-body card-body-custom" style="text-align:center;">
                            <h5 class="card-title"
                            style="color: rgba(149,66,180,1); font-weight:bold;">@proyecto.Titulo</h5>
                            <p class="card-text text-white">@proyecto.Descripcion</p>
                        </div>
                        <div class="card-footer text-center card-body-custom">
                            <a class="btn btn-dark" href="@proyecto.Link" target="_blank"
                       rel="noopener noreferrer">Visitar</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

}
