@{
    ViewData["Title"] = "Agradecimiento";
}


<div class="text-center text-white py-3 agradecimiento-container">
    <div class="cont">
        <h1>Gracias por ponerte en contacto conmigo <i class="bi bi-hand-thumbs-up"></i></h1>
        <p>Te contestaré el mensaje lo más pronto posible</p>
        <div>
            <a asp-action="Index" asp-controller="Home" class="btn btn-dark">Volver al Home</a>
        </div>
    </div>
</div>