@model IEnumerable<Proyecto>

@{
    ViewData["Title"] = "Proyectos";
}

<div class="container" style="text-align:center; color:#fff; padding-top: 2rem; text-shadow: 1px 1px 1px #000">
    <h1 style="font-weight: bolder">Mis Proyectos</h1>
    <p style="margin-bottom: 3rem;">Aquí encontrarás todos los proyectos en los que he trabajado</p>
</div>

<partial name="_ListadoProyectos" model="Model" />